name: Coverage

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'


jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust and dependencies
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run tests and generate coverage report
        run: cargo tarpaulin --out Html

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./tarpaulin-report.html
          flags: unittests
          fail_ci_if_error: true



